<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khuong.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>khuong.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>khuong.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>khuong.controller.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <servlet-class>khuong.controller.AdminDeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdatePointController</servlet-name>
        <servlet-class>khuong.controller.AdminUpdatePointController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewHistoryController</servlet-name>
        <servlet-class>khuong.controller.AdminViewHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>khuong.controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>khuong.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistController</servlet-name>
        <servlet-class>khuong.controller.UserRegistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddProductController</servlet-name>
        <servlet-class>khuong.controller.UserAddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteProductController</servlet-name>
        <servlet-class>khuong.controller.UserDeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateProductController</servlet-name>
        <servlet-class>khuong.controller.UserUpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCompleteOrderController</servlet-name>
        <servlet-class>khuong.controller.UserCompleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchProductController</servlet-name>
        <servlet-class>khuong.controller.UserSearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewDetailController</servlet-name>
        <servlet-class>khuong.controller.AdminViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddNewProductController</servlet-name>
        <servlet-class>khuong.controller.AdminAddNewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductController</servlet-name>
        <servlet-class>khuong.controller.AdminEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProductsController</servlet-name>
        <servlet-class>khuong.controller.AdminUpdateProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchProductController</servlet-name>
        <servlet-class>khuong.controller.AdminSearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProductController</servlet-name>
        <servlet-class>khuong.controller.AdminDeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteHistoryController</servlet-name>
        <servlet-class>khuong.controller.AdminDeleteHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewOrderController</servlet-name>
        <servlet-class>khuong.controller.UserViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteOrderController</servlet-name>
        <servlet-class>khuong.controller.UserDeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProductCateroryController</servlet-name>
        <servlet-class>khuong.controller.AdminDeleteProductCateroryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCompleteCategoryController</servlet-name>
        <servlet-class>khuong.controller.AdminCompleteCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCategoryController</servlet-name>
        <servlet-class>khuong.controller.UserCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCategoriesController</servlet-name>
        <servlet-class>khuong.controller.UserCategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateProfileController</servlet-name>
        <servlet-class>khuong.controller.UserUpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewDetailController</servlet-name>
        <servlet-class>khuong.controller.UserViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddNewCategoryController</servlet-name>
        <servlet-class>khuong.controller.AdminAddNewCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/AdminSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <url-pattern>/AdminDeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdatePointController</servlet-name>
        <url-pattern>/AdminUpdatePointController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewHistoryController</servlet-name>
        <url-pattern>/AdminViewHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistController</servlet-name>
        <url-pattern>/UserRegistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddProductController</servlet-name>
        <url-pattern>/UserAddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteProductController</servlet-name>
        <url-pattern>/UserDeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateProductController</servlet-name>
        <url-pattern>/UserUpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCompleteOrderController</servlet-name>
        <url-pattern>/UserCompleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchProductController</servlet-name>
        <url-pattern>/UserSearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewDetailController</servlet-name>
        <url-pattern>/AdminViewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddNewProductController</servlet-name>
        <url-pattern>/AdminAddNewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductController</servlet-name>
        <url-pattern>/AdminEditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProductsController</servlet-name>
        <url-pattern>/AdminUpdateProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchProductController</servlet-name>
        <url-pattern>/AdminSearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductController</servlet-name>
        <url-pattern>/AdminDeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteHistoryController</servlet-name>
        <url-pattern>/AdminDeleteHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewOrderController</servlet-name>
        <url-pattern>/UserViewOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteOrderController</servlet-name>
        <url-pattern>/UserDeleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductCateroryController</servlet-name>
        <url-pattern>/AdminDeleteProductCateroryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCompleteCategoryController</servlet-name>
        <url-pattern>/AdminCompleteCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCategoryController</servlet-name>
        <url-pattern>/UserCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCategoriesController</servlet-name>
        <url-pattern>/UserCategoriesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateProfileController</servlet-name>
        <url-pattern>/UserUpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewDetailController</servlet-name>
        <url-pattern>/UserViewDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
